section {
    margin: 20px 0; /* 20px arriba y abajo, 0 a los lados */
  }
.pantalla {
    width: 100%;         /* igual que el header */
    height: 100vh;       /* ocupa toda la altura de la pantalla */
    background-color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  