.header{
    width:100%;
    height: 6 rem;

    display: grid;
    grid-template-columns:  6rm 1fr 6rem;
    grid-template-rows: 1fr 1fr ;
    column-gap: 2rem;
}

.btn-menu{
    grid-column-start: 1;
    grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 3;

     background-color: #ECF0F4;
;
     width: 4.5rem;
     height: 4.5rem;
     border-radius: 100%;
     
    display: flex;
    justify-content: center;
    align-items: center;


}
.txt-naranja {
    color: orange;
    font-weight: 800;
    font-size: 1.2rem;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-end;
}
.txt-negro {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;   
}

.btn-car {
    grid-column-start:4;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    position: relative;

     background-color: #181C2E;
     width: 4.5rem;
     height: 4.5rem;
     border-radius: 100%;

     display: flex;
    align-items: center;
    justify-content: center;
}
.cantidad-car {
    width: 2.5rem;
    height: 2.5rem;
    background-color: orange;
    border-radius: 100%;
    color: white;
    font-weight: 800;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -2px;
    top: -5px;

}